<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Produto</title>
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Loja de Vendas</h1>
     <!--Menu-->
     <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-default">
         <span class="icon icon-home"></span>
      </button>
      <button class="btn btn-default">
         <span class="icon icon-folder"></span>
      </button>
      <button class="btn btn-default active">
         <span class="icon icon-cloud"></span>
      </button>
      <button class="btn btn-default">
         <span class="icon icon-popup"></span>
      </button>
      <button class="btn btn-default">
        <span class="icon icon-shuffle"></span>
      </button>
    </div>

    <button class="btn btn-default">
       <span class="icon icon-home icon-text">  </span>
      Filters
    </button>

    <button class="btn btn-default btn-dropdown pull-right">
       <span class="icon icon-megaphone"></span>
    </button>
  </div>
    
  </header>
 
  <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">
		  <p>lorem</p>
		 </div>
		<div class="pane">
        
         <!--Cadastro de Vendas-->
           <button type="button" @click="createSale()" class="btn btn-primary">Cadastro de Vendas</button>
            <a href="produto.html" class="btn btn-primary">Produto</a>
            <a href="cadastro_cliente.html" class="btn btn-primary">Clientes</a>
             <a href="vendas.html" class="btn btn-primary">Vendas</a>
            
        <table class="table table-striped">
        	<thead>
        		<tr>
        			<th>Cliente</th>
        			<th>Produto</th>
        			<th>Preço Unitario</th>
        			<th>Quantidade</th>
        			<th>Total</th>
        		</tr>
        	</thead>
        	<!--Lista de clientes-->
        	<tbody>
        		<tr v-for="venda in vendas">
        			<td>{{venda.cliente}}</td>
        			<td>{{venda.produto}}</td>
        			<td>{{venda.preco}}</td>
        			<td>{{venda.quantidade}}</td>
        			<td>{{venda.quantidade*venda.preco}}</td>
        			<td> <button type="button" @click="editSale(venda)" class="btn btn-primary">Editar</button></td>
        		</tr>
        	</tbody>
          </table>
         </div>
     </div>
   </div>
   
   <!--Rodape-->
   <footer class="toolbar toolbar-footer">
    <h4 class="title">Desenvolvido por Jadson Santos</h4>
   </footer>
	</div>
       <div id="modal" v-if="openModal">
      	 <div class=".wrap">
      	 	 <!--Formulario de cadastro  -->
			   <form id="cadastro-venda" action="" class="pane-body">
				  <h3>Cadastro de Vendas/h3>
				  <h3 v-if="mode=='edicao'">Editar Venda</h3>
				   
				   <div class="form-group">
					 <select v-model="sale.cliente">
					 	<option value="{{c.nome}}" v-for="c in clientes">{{c.nome}}</option>
					 </select>
				   
					   <select v-model="sale.produto">
					 	<option value="{{p.nome}}" v-for="p in produtos">{{c.nome}}</option>
					 </select>
				   
					   <div class="form-group">
      	   	  	     <input type="text" class="form-control" id="preco" v-model="sale.preco"
      	   	  	     placeholder="Preço"></div>
      	   	  	     <div class="form-group">
      	   	  	     <input type="text" class="form-control" id="venda" v-model="sale.venda"
      	   	  	     placeholder="Venda"></div>
      	   	  	     <button type="button"  class="btn btn-positive" @click="productStoreOrUpdate">Salvar</button>
      	   	  	     <button type="button" class="btn btn-negative" @click="openModal=false">Fechar</button>
		    </form>
      	 </div>
       </div>
</body>
   <script type="text/javascript">
	   var read = require(('read-file-utf8')
	   var loki = require('lokijs');
	   var db = new loki('db.json')
	   var data = read(__dirname+'/db.json');
	   //db.loadJSON(data);
	   window.Vue = require('vue');
	   var vendas = db.getColletion('vendas');
	   var clientes = db.getColletion('clientes');
	   var produtos = db.getColletion('produtos');
	   console.log(db);
	  // var produtos = db.addColletion('produtos');
	   db.save();
	   console.log(db);
	   new Vue({
		   el: 'body',
		   data:{
			   mode:'',
			   openModal:false,
			   vendas:[],
			   clientes:[],
			   produtos:[],
			   sale:{
				   cliente:'',
        		   quantidade:1,
        		   preco:0,
        		   venda:'',
			   }
		   },
		   ready: function(){
		   this.produtos = produtos.data;
		   this.clientes = clientes.data;
	       this.vendas = vendas.data;
	       //console.log(this.produtos);
	   },
		    methods:{
		   editSale: function(sale){
			   this.mode="edicao";
			   this.openModal=true;
			   this.sale=sale;
		   },
		   creatSale:function(){
			       this.mode="cadastro";
			       this.openModal=true;
			       this.sale={
				   cliente:'',
        		   quantidade:0,
        		   preco:0,
        		   venda:'',
			   };
		     },
		     saleStoreOrUpdate: function(){
				 if(typeof this.sale.$loki != 'undefined');{
					 vendas.updade(this.sale);
				 }else{
					this.sale.preco= produtos.find({nome:this.sale.produto})[0].preco;  //console.log(vendas.find({nome:this.sale.produto})[0].nome);
					 vendas.insert(this.sale);
				 }
				 
			     db.save();
				 this.openModal=false;
		    }
	    }
	   
	 });
  </script>
</html>
